@import "variables.less";

/* ********** Overwrites style.css ********** */
.hero {
	background-color:@purple;
	background-image:none;
	
	h1 {
		color:white;
		text-align:center;
	}
}

.timeline {
	&:before {
		left:14px;
	}
	
	.entry {
		.time, .content {
			width:100%;
		}
		
		.content {
			padding-left:40px;
		}
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.timeline:before {
		left:9px;
	}
}

/* ********** Overwrites framework.css ********** */



/* ********** Custom CSS ********** */
a {
	.linkText;
	
	&:hover, &:focus, &:active {
		.boldLinkText;
	}
}

section {
	h1 {
		font-family:@font-sans-serif;
	}
	
	h2 {
		.headerText;
	}
	
	p, ul {
		.bodyText;
		
		span {
			.boldText;
		}
	}
	
	ul {
		list-style:initial;
		margin-left:15px;		
	}
}

footer {
	text-align:center;
}

.hero {
	canvas {
		position:absolute;
		top:0;
		z-index:0;
	}
}

.scroll-to {
	left:48%;
	z-index:10;
}