@import "variables.less";

/* ********** Overwrites style.css ********** */
p {
	line-height:23px;
}

footer {
	border-top-width:2px;
}

#side-nav {
	a {
		.navText;
		
		&:after {
			top:6px;
		}
		
		&.active, &:hover, &:focus {
			.hoverLinkClean;
			
			&:after {
				top:4px;
			}
		}
	}
	
	#top {
		&:after {
			top:6px;
		}
		
		&:hover, &:focus {
			&:after {
				top:8px;
			}
		}
	}
	
	li {
		margin-bottom:17px;
	}
}

.hero {
	background-color:@purple;
	background-image:none;
	
	h1 {
		color:white;
		font-size:@font-h1-sm;
		line-height:1.2;
		text-align:center;
	}
}

.scroll-to {
	width:75px;
	height:70px;
	font-size:@font-xs+1;
	color:white;
}

.timeline {
	overflow:visible;
	margin-top:0;
	
	&:before {
		width:2px;
	}
	
	.entry {
		.time, .content {
			width:100%;
		}
		
		.content {
			padding-left:40px;
		}
	}
}

.social-list {
	a {
		width:40px;
		height:40px;
		padding:7px;
		border:1px solid @light-gray;
		border-radius:50%;
		opacity:1;
		color:@light-gray;
		
		&:hover, &:focus, &:active {
			color:@purple;
			border-color:@purple;
		}
	}
}

.padded-top {
	padding-top:60px;
}

.padded-bottom {
	padding-bottom:150px;
}

.padded {
	.padded-top;
	.padded-bottom;
}

/* ********** Overwrites framework.css ********** */



/* ********** Custom CSS ********** */
a {
	.linkText;
	
	&:hover, &:focus, &:active {
		.hoverLink;
	}
}

section {
	h1 {
		font-family:@font-sans-serif;
		
		a {
			font-size:@font-h1-sm;
		}
	}
	
	h2 {
		.headerText;
	}
	
	p, ul {
		.bodyText;
		
		span {
			.boldText;
		}
	}
	
	ul.experience-list {
		list-style:initial;
		margin-left:15px;
		
		li {
			padding-left:25px;
		}
	}
}

footer {
	text-align:center;
}

.hero {

	.verticalGradient;

	h1 {
		margin-top:35px;
	}
	
	canvas {
		position:absolute;
		top:0;
		z-index:0;
	}
	
	.mugshot {
		display:block;
		margin:0 auto;
		width:170px;
	}
}

.scroll-to {
	left:46%;
	z-index:10;
	text-align:center;
	
	&:hover, &:focus, &:active {
		.hoverLinkClean;
	}
}

.timeline-container {
	overflow:hidden;
}

.section-symbol {
	height:60px;
	
	span {
		position:absolute;
		top:0;
		display:inline-block;
		width:40px;
		height:40px;
		padding:10px;
		border-radius:50%;
		text-align:center;
		background-color:@purple;
		
		.fa {
			color:white;
			font-size:18px;
			line-height:1.2;
		}
	}
}

.timeline {
	.time {
		p:first-child {
			padding-bottom:0;
		}
	}
	
	.content {
		p:last-child {
			padding-bottom:0;
		}
	}
}

.copyright {
	padding-top:30px;
	.bodyText;	
}


/* Small Devices, Tablets & up */
@media only screen and (min-width : @tablet-min-width) {
	.hero {
		h1 {
			font-size:@font-h1-lg;
		}
	}
	
	section {
		h1 {
			a {
				font-size:@font-h1-lg;
			}
		}
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width: @desktop-min-width) {
	.section-symbol {
	
		&:before {
			content: "\A";
			display: block;
			opacity: 1;
			width: 2px;
			height: 100%;
			position: absolute;
			left:15px;
			bottom: -6px;
			background: @light-gray-line;
		}
		
		span {
			left:-4px;
		}
	}
}